# OCI Generative AI
OCI_CONFIG_PROFILE=DEFAULT
OCI_COMPARTMENT_ID=
OCI_ENDPOINT=
EMBEDDING_MODEL=
EMBEDDING_DIMENSION=
LLM_MODEL=

# Oracle Database
ORACLE_DB_USER=
ORACLE_DB_PASSWORD=
ORACLE_DB_DSN=
ORACLEVS_TABLE=

# API/UI runtime
API_BASE_URL=http://127.0.0.1:8000
